@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
svg {
  vertical-align: middle;
}
body {
  background-color: rgb(15 23 42);
}

.mainpage {
  display: flex;
  justify-content: center;
  margin-top: 95px;
}

.leftside {
  width: 40vw;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rightside {
  width: 40vw;
}

@media  screen and (max-width: 800px) {
  .mainpage {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 85px;
  }
  .leftside {
    flex-wrap: wrap;
    width: 100vw;
    height: 70%;

  }
  .rightside {
    width: 100vw;
    height: 30vh;
  }
}